{% extends 'base.html' %} {% block body %} {% load static %}


<div class="nav">
  <div class="logo" id="logo">
    <a href="#banner"><img src="" alt=""></a>
  </div>
  <div class="menuToggle2" onclick="toggleMenu2();"></div>
  <ul class="navigation2">
    <li><a href="#up-cm-mmbr-msg" onclick="toggleMenu2();">Chairman Message</a></li>
    <li><a href="#up-cm-mmbr-msg" onclick="toggleMenu2();">Upload Members</a></li>
    <li><a href="#loanfol" onclick="toggleMenu2();">Loan Form Data</a></li>
    <li><a href="#conquy" onclick="toggleMenu2();">Contact Queries</a></li>

  </ul>
</div>



{% if messages %}
{% for message in messages %}
<div class="loan-message" id="loan-message">
  <strong>{{message}}</strong>
  <div class="cross" id="cross" onclick="disableMessage()">&#10060;</div>
</div>
{% endfor %} {% endif %}

<h1>Admin Panel</h1>
<section class="" id="up-cm-mmbr-msg">
  <div class="container">
    <div class="row post-upload">
      <div class="post-chairman">
        <h2>chairman message</h2>
        <form action="{%url 'cmmessage'%}" method="POST">
          {%csrf_token%}
          <div class="cminput">
            <label for="">Enter Chairman message</label>
            <textarea name="message" id="textcmmessage" cols="30" rows="2" placeholder="Enter message"></textarea>
          </div>
          <button type="submit">Post</button>
        </form>
      </div>
      <div class="upload-members">
        <h2>Upload members</h2>
        <form action="" method="POST" enctype="multipart/form-data">
          {%csrf_token%}
          <div class="memberinput">
            <label for="bname">Choose a Branch:</label>
            <select name="bname" id="">
              <option value="Ambala">Ambala</option>
              <option value="Amritsar">Amritsar</option>
              <option value="Ajmerigate">Ajmerigate</option>
              <option value="Firozepur">Firozepur</option>
              <option value="Ghaziabad">Ghaziabad</option>
              <option value="Jagadhari">Jagadhari</option>
              <option value="Ludhiana">Ludhiana</option>
              <option value="Patiala">Patiala</option>
              <option value="Pathankot">Pathankot</option>
              <option value="Tuglakabad">Tuglakabad</option>
              <option value="HeadQtrs">Head Qtrs.</option>
            </select>
            <input type="file" name="bfile" id="" multiple />
          </div>
          <button type="submit">Upload Files</button>
        </form>
      </div>
    </div>
  </div>
</section>
<hr>
<hr>

<section class="members" id="loanfol">
  <div class="container">
    <h2>Loan Form Data</h2>
    <div class="folder-row">
      <div class="folder-container">
        {% for branch in loan_branch_files %}
        {% for i in branch %}
        <div class="folder">
          <a href="./loanbranchfiles/{{i}}"><img src="{% static 'assets/folder2.png' %}" alt=""></a>
          <p> {{i}}</p>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>


<hr>
<hr>


<section id="conquy">
  <div class="container">
    <h2>Contact Query</h2>
    <div class="usercontactdiv">
      <div class="usercontact-table">
        <table class="tablecontact">
          <tr>
            <th>name</th>
            <th>phone no</th>
            <th>message</th>
            <th>Delete</th>
          </tr>
          {% for usercontact in usercontacts %}
          <tr>
            <td>{{usercontact.name}}</td>
            <td>{{usercontact.phno}}</td>
            <td>{{usercontact.message}}</td>
            <td>
              <form action="{% url 'deletecontact' usercontact.id %}" method="POST">
                {% csrf_token %}
                <button type="submit">Delete</button>
              </form>
            </td>
          </tr>
          {%endfor%}
        </table>
      </div>
    </div>
  </div>
</section>
<script src="{%static 'script/script.js'%}"></script>

{% endblock body %}